[submodule "commons_mobile"]
	path = commons_mobile
	url = git@github.com:hivesolutions/commons-mobile.git
[submodule "commons_ui_mobile"]
	path = commons_ui_mobile
	url = git@github.com:hivesolutions/commons-ui-mobile.git
[submodule "json_mobile"]
	path = json_mobile
	url = git@github.com:hivesolutions/json-mobile.git
[submodule "omni_mobile"]
	path = omni_mobile
	url = git@github.com:hivesolutions/omni-mobile.git
