[submodule "commons_mobile"]
	path = commons_mobile
	url = git@github.com:hivesolutions/commons_mobile.git

[submodule "json_mobile"]
	path = json_mobile
	url = git@github.com:hivesolutions/json_mobile.git

[submodule "omni_mobile"]
	path = omni_mobile
	url = git@github.com:hivesolutions/omni_mobile.git
